@import "../../../../styles/variables.scss";

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease;
  
    svg {
      width: 20px;
      height: 20px;
      fill: $pink;
    }
  
    &:hover {
      svg {
        fill: $light-pink;
      }
    }
  }
  