.content {

    background-image: url(/medias/heads_index2/226/banniere_page_d_accueil_site_internet.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content h1 {
    text-align: center;
    
}   

